.help-text{
    margin-bottom: 1rem;
}
.resolveBtn{
    background-color: black;
    border: 2px solid darkgoldenrod ;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.help-bg{
    position: relative;
}
.queryBtn{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid darkgoldenrod ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; 

    
}
.contactbtn{
    position:absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}

.supportBtn{
    background-color: white;
    border: 2px solid darkgoldenrod ;
    color: black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    height: 6vh;

}
@media (max-width: 575.98px)
    {
        .notificationBtn{
            width: 36vw;
        }
.notificationBox{
    width:100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}  
.innerNotificationBox{
    width: 90vw;
    
}
.help-text{
    margin-bottom: 0rem;
}
}
.helpBox{
height: 10vh;

}

